@import "../css/nullstyle.css";

@font-face {
  font-family: "Scriptina";
  src: url("../fonts/scriptina.eot");
  src: local("☺"), url("../fonts/scriptina.woff") format("woff"),
    url("../fonts/scriptina.ttf") format("truetype"),
    url("../fonts/scriptina.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Mark Simonson - Proxima Nova Regular.eot");
  src: local("☺"),
    url("../fonts/Mark Simonson - Proxima Nova Regular.woff") format("woff"),
    url("../fonts/Mark Simonson - Proxima Nova Regular.ttf") format("truetype"),
    url("../fonts/Mark Simonson - Proxima Nova Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ---------------------- */

body {
  overflow-x: hidden;
  display: grid;
  justify-items: center;
  background-color: #9e9c93;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  justify-items: stretch;
  width: 1600px;
}

/* --------------------- */

.header {
  position: absolute;
  z-index: 3;
  width: 1600px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  height: 70px;
  background-color: rgba(86, 83, 76, 0.52);
}

.logo {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.logo p {
  font-family: "Scriptina";
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 15px;
}

.nav-container {
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(9, 1fr);
}

.nav li {
  display: grid;
  justify-items: center;
}

.nav li,
.nav a {
  font-family: Alegreya;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.nav a:hover {
  text-decoration: underline;
}

.social-container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.social {
  display: grid;
  width: 105px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.social a {
  display: grid;
  align-items: center;
  justify-items: center;
}

.b1 {
  display: grid;
  position: relative;
  z-index: 1;
  background-image: url(../img/bgh.jpg);
  background-repeat: no-repeat;
}

.b1-content {
  position: relative;
  z-index: 1;
  display: grid;
  justify-self: center;
  justify-items: center;
  width: 939px;
  height: 888px;
  margin-top: -70px;
  border-radius: 50%;
  background-color: rgba(131, 79, 78, 0);
  background-image: linear-gradient(0deg,
      #564f4c9f 0%,
      rgba(86, 83, 76, 0) 101%);
}

.b1-content p1 {
  text-align: center;
  margin-top: 300px;
  height: fit-content;
  font-family: "Playfair Display";
  font-size: 92px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-shadow: 0px 2px 0px #3d3029;
  color: #ffffff;
}

.b1-content p2 {
  text-align: center;
  height: fit-content;
  margin-top: 20px;
  font-family: "Proxima Nova Light";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-shadow: 0px 1px 0px #3d3029;
  color: #ffffff;
}

.menu_button {
  margin-bottom: 100px;
  width: 200px;
  height: 50px;
  border: 1px solid #9e9c93;
  background-color: rgba(29, 28, 26, 0.596);
  font-family: Alegreya;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.menu_button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(255, 255, 255, .6);
}

/* ---------------------- */
.box {
  margin-top: 765px;
  justify-self: center;
  position: absolute;
  z-index: 4;
  height: 106px;
  display: grid;
  justify-items: center;
  width: 1600px;
}

.line {
  margin-top: 48px;
  z-index: 5;
  height: 10px;
  width: 1600px;
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.87);
}

.cirle-container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: -58px;
  z-index: 6;
  width: 106px;
  height: 106px;
  background-image: url(../img/circle_contaier.png);
}

.circle {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.87);
  border-radius: 50%;
}

/* ---------------------- */
.b2 {
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  height: 760px;
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
}

.chef-info {
  display: grid;
  justify-self: end;
  align-self: start;
  justify-items: center;
  width: 490px;
  margin-right: 70px;
}

.chef-info p1 {
  margin-top: 100px;
  font-family: Alegreya;
  font-size: 48px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #56534c;
}

.chef-info p2 {
  margin-top: 20px;
  font-family: Alegreya;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #a47d5e;
}

.chef-info p3 {
  margin-top: 70px;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #56534c;
  text-align: justify;
}

.chef-info p4 {
  margin-top: 50px;
  font-family: Alegreya;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #56534c;
}

.chef {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 20px;
}

.chef-foto {
  width: 110px;
  height: 110px;
  background-color: #ffffff;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.93);
  border-radius: 50%;
  background-image: url(../img/cheef.png);
  background-position: center;
  background-repeat: no-repeat;
}

.benito,
.gaspare {
  display: grid;
  justify-items: center;
  align-self: center;
  gap: 15px;
}

.chef hr {
  width: 111px;
  height: 1px;
  background-color: #d7d5ca;
}

.chef .benito p5 {
  font-family: Alegreya;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #56534c;
}

.chef .gaspare p6 {
  font-family: Alegreya;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #56534c;
}

.chef-info span {
  opacity: 0.5;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #56534c;
}

.open {
  text-align: start;
  justify-self: start;
  margin-left: 40px;
}

.close {
  text-align: end;
  justify-self: end;
  margin-right: 40px;
}

.chef-info p8 {
  text-align: center;
  font-family: Scriptina;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a47d5e;
}

.cook-photos {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 630px;
  height: 540px;
}

.cook-photos div {
  z-index: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  outline: 5px solid #ffffff;
  outline-offset: -12px;
}

.flavour {
  width: 295px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 0px #000000;
  background-image: url(../img/flavor.png);
}

.egg {
  width: 295px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 0px #000000;
  background-image: url(../img/egg.png);
}

.cake {
  width: 295px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 0px #000000;
  background-image: url(../img/cake.png);
}

.strawberry {
  width: 295px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 0px #000000;
  background-image: url(../img/strawberry.png);
}


.b3 {
  display: grid;
  justify-items: center;
  height: 760px;
  background-repeat: no-repeat;
  background-image: url(../img/bg4.jpg);
}

.breakfast_block {
  z-index: 1;
  width: 1260px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.breakfast_list {
  display: grid;
  justify-items: center;

}

.breakfast {
  font-family: Alegreya;
  font-size: 60px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.breakfast_text {
  font-family: Alegreya;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #c8a593;
}

.breakfast_list ul {
  display: grid;
  justify-items: center;
  margin-left: 90px;
}

.breakfast_list li {
  text-align: center;
}

.breakfast_menu {
  font-family: Alegreya;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.text {
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-weight: 400;
  color: #c2beba;
}

.price {
  font-family: Alegreya;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #dfc691;
}

.breakfast_readme {
  display: grid;
  grid-template-rows: 30px 60px 220px;
  justify-items: center;
  padding-top: 50px;
  margin-left: 190px;
  width: 440px;
  height: 600px;
  background-color: #f3f1e9;
  outline: 2px dashed #9e9c93;
  outline-offset: -10px;
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.8);
}

.est {
  height: 30px;
}

.est_text {
  height: fit-content;
  word-spacing: 180px;
  font-family: Alegreya;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #56534c;
}

.readme_logo img {
  justify-self: center;
  align-self: center;
  width: 40px;
  height: 33px;
}

.readme_logo {
  display: grid;
  background-image: url(../img/readme_line.png);
  width: 367px;
  height: 60px;
}

.reame_text {
  margin-top: 60px;
  width: 335px;
}

.alegreya {
  text-align: center;
  font-family: Alegreya;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #56534c;
}

.proxima {
  margin-top: 40px;
  text-align: center;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #56534c;
}


.read_button {
  margin-top: 130px;
  background-color: #f3f1e9;
  width: 190px;
  height: 50px;
  border: 1px solid #9e9c93;
  font-family: Alegreya;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #a47d5e;
}

.read_button:active {
  box-shadow: inset -2px -2px 3px rgba(95, 95, 95, 0.6),
    inset 2px 2px 3px rgba(95, 95, 95, 0.6);
}

.wheat {
  position: absolute;
  margin-top: 545px;
  justify-self: end;
  z-index: 2;
  width: 346px;
  height: 204px;
  background-image: linear-gradient(131.0deg, rgba(196, 185, 174, 0.15) 17%, rgba(255, 255, 255, 0.15) 82%);
  background-image: url(../img/vektor_smartobjekt_796.png);
}

.b4 {
  z-index: auto;
  grid-template-rows: 170px auto;
  display: grid;
  height: 920px;
  background-color: #f3f1e9;
}

.b4_image {
  justify-self: center;
  width: 707px;
  height: 142px;
  z-index: 2;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/b4_bg_img.png);
  opacity: 0.16;
}

.jibarito {
  height: fit-content;
  justify-self: center;
  text-align: center;
  margin-top: 100px;
  z-index: 4;
  font-family: Alegreya;
  font-size: 48px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #56534c;
}

.jibarito span {
  font-family: Alegreya;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #a47d5e;
}

.sandvich_block {
  justify-self: center;
  width: 1260px;
  display: grid;
  grid-template-columns: 295px 1fr;
}

.recipes {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.recipes img {
  margin-left: 88px;
}

.recipes p,
span {
  text-align: center;
}

.nameDish {
  margin-top: 5px;
  font-family: Alegreya;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #a47d5e;
}

.description {
  margin-top: 20px;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #56534c;
}

.sandvich {
  display: grid;
  z-index: auto;
  width: 840px;
  height: 556px;
  align-self: center;
  justify-self: end;
  background-image: url(../img/sandvich.png);
}

.fullRecipe {
  margin: 520px 0 0 -25px;
  position: absolute;
  z-index: 5;
  width: 171px;
  height: 60px;
  border: 1px solid #dfc691;
  font-family: Alegreya;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #dfc691;
  background-color: #ffffff;
}

.fullRecipe:active {
  box-shadow: inset -2px -2px 3px rgba(95, 95, 95, 0.6),
    inset 2px 2px 3px rgba(95, 95, 95, 0.6);
}

.cookTime {
  margin-right: 10px;
  justify-self: end;
  align-self: center;
  position: absolute;
  z-index: 5;
}

.prep,
.cook {
  display: grid;
  text-align: center;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  background-color: #ffffff;
}

.actionName {
  margin-top: 35px;
  font-family: Alegreya;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #a47d5e;
}

.time {
  font-family: Alegreya;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 60px;
  color: #56534c;
}

.mins {
  font-family: Alegreya;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: none;
  color: #979285;
}

.readyIN {
  display: grid;
  text-align: center;
  width: 200px;
  height: 200px;
  background-image: url(../img/bg_READYIN.png);
}

.time50 {
  font-family: Alegreya;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 92px;
  color: #dfc691;
}

/* ----------------------- */
.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 240px;
  background-color: #f3f1e9;
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr 0.7fr 2fr;
  align-items: center;
  width: 1600px;
}

.footer_logo {
  margin-bottom: 15px;
  justify-self: center;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.footer_logo p {
  font-family: Scriptina;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #56534c;
}

.left,
.right {
  display: grid;
  align-items: center;
  justify-content: space-around;
  width: 515px;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.37);
}

.left {
  justify-self: flex-end;
}

.right {
  justify-self: flex-start;
}

.footer_menu {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 0.4fr 1fr 0.4fr 1fr;
}

.footer_menu li {
  display: grid;
  justify-items: center;
  text-align: center;
}

.footer_menu li,
.footer_menu a {
  font-family: Alegreya;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #56534c;
}

.footer_menu a:hover {
  text-decoration: underline;
}

.footer_lineup {
  margin-bottom: 90px;
  justify-self: center;
  position: absolute;
  z-index: 5;
  width: 470px;
  height: 1px;
  background-color: #c2beba;
}

.footer_linedown {
  margin-top: 90px;
  justify-self: center;
  position: absolute;
  z-index: 5;
  width: 470px;
  height: 1px;
  background-color: #c2beba;
}